@media screen and (max-width: 1700px) {
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100% ;
    min-height: 100vh;
    background: radial-gradient(#2f4f4f,20%,#000000);
    position: relative;
}
.hero header .logo h2 a{
    display: block;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-family: 'Indie Flower', cursive;
   
}
.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{ 
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}   
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}
nav ul li.active a{
    border-bottom: 2px solid white;
} 
.content{
    padding-top: 140px;
    color: white;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    right: 30px;
}
.content .main-text h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.content .main-text h1{
    font-size: 100px;
    line-height: 1;
    margin: 0px 0px 45px; 
    font-family: 'Permanent Marker', cursive;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transition: .4s; 
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;    
}
.content .main-text a.cta{
    border: 1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;
    transition: .4s; 
}
.content .main-text a.cta i{
    margin-right: 12px;   
}
.content .main-text a.cta:hover{
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}
.content .main-text h2{
    max-width: 100%;
    width: 480px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
}



.section{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: right;
}
.slider{
    width: 650px;
    height: 366px;
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;

}
.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 650px;
    height: 366px;
    border: 4px solid black;
}

.nav-m{
    position: absolute;
    width: 650px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: #2f4f4f;

}
#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}

#radio3:checked ~.first{
    margin-left: -40%;
}

#radio4:checked ~.first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    width: 650px;
    margin-top: 460px; 
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~.nav-auto .a-b1{
    background-color: #000000;
}

#radio2:checked ~.nav-auto .a-b2{
    background-color: #000000;
}

#radio3:checked ~.nav-auto .a-b3{
    background-color: #000000;
}

#radio4:checked ~.nav-auto .a-b4{
    background-color: #000000;
}
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100% ;
    min-height: 100vh;
    background: radial-gradient(#2f4f4f,20%,#000000);
    position: relative;
}
.hero header .logo h2 a{
    display: block;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-family: 'Indie Flower', cursive;
   
}
.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{ 
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}   
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}
nav ul li.active a{
    border-bottom: 2px solid white;
} 
.content{
    padding-top: 140px;
    color: white;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    right: 50px;
}
.content .main-text h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.content .main-text h1{
    font-size: 100px;
    line-height: 1;
    margin: 0px 0px 45px; 
    font-family: 'Permanent Marker', cursive;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transition: .4s; 
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;    
}
.content .main-text a.cta{
    border: 1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;
    transition: .4s; 
}
.content .main-text a.cta i{
    margin-right: 12px;   
}
.content .main-text a.cta:hover{
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}
.content .main-text h2{
    max-width: 100%;
    width: 480px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
}



.section{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: right;
}
.slider{
    width: 650px;
    height: 366px;
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;

}
.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 650px;
    height: 366px;
    border: 4px solid black;
}

.nav-m{
    position: absolute;
    width: 650px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: #2f4f4f;

}
#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}

#radio3:checked ~.first{
    margin-left: -40%;
}

#radio4:checked ~.first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    width: 650px;
    margin-top: 460px; 
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~.nav-auto .a-b1{
    background-color: #000000;
}

#radio2:checked ~.nav-auto .a-b2{
    background-color: #000000;
}

#radio3:checked ~.nav-auto .a-b3{
    background-color: #000000;
}

#radio4:checked ~.nav-auto .a-b4{
    background-color: #000000;
}