*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100% ;
    min-height: 100vh;
    background: radial-gradient(#2f4f4f,20%,#000000);
    position: relative;
}
.hero header .logo h2 a{
    display: block;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-family: 'Indie Flower', cursive;
   
}
.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}   
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}
nav ul li.active a{
    border-bottom: 2px solid white;
} 
.content{
    padding-top: 140px;
    color: white;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
.content .main-text h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.content .main-text h1{
    font-size: 100px;
    line-height: 1;
    margin: 0px 0px 45px; 
    font-family: 'Permanent Marker', cursive;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;    
}
.content .main-text a.cta{
    border: 1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;
}
.content .main-text a.cta i{
    margin-right: 12px;   
}
.content .main-text a.cta:hover{
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}
.content .main-text h2{
    max-width: 100%;
    width: 480px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
}


.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}
#img6:checked ~ .m6 {
    margin-left: 0;
}
#img7:checked ~ .m7 {
    margin-left: -100%;
}
#img8:checked ~ .m8 {
    margin-left: -200%;
}
#img9:checked ~ .m9 {
    margin-left: -300%;
}
#img10:checked ~ .m10 {
    margin-left: -400%;
}
#img11:checked ~ .m11 {
    margin-left: 0;
}
#img12:checked ~ .m12 {
    margin-left: -100%;
}
#img13:checked ~ .m13 {
    margin-left: -200%;
}
#img14:checked ~ .m14 {
    margin-left: -300%;
}
#img15:checked ~ .m15 {
    margin-left: -400%;
}